.nav-pills .nav-link {
    color: black;
}

.nav-pills .nav-link:hover {
    color: white;
}

body {
    background-image: url('/assets/images/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}